<link rel="stylesheet" href="{{site.baseurl}}/assets/css/academicons-1.9.3/css/academicons.min.css"/>

<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 shadow-none">
  <div class="container-fluid">
    <a class="navbar-brand logo_container" href="/index.html">
     <p class = "navlogo styledfont">Sarah E. Bolden</p>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarText">
      <ul class="navbar-nav ms-auto mb-lg-0">

        <a class="nav-link navcv" href="/cv.html">  <li class = "nav-item ">
        
          CV
       
      </li> </a>

        <a class="nav-link navportfolio" href="/portfolio.html"> <li class = "nav-item ">
          
            Portfolio
       
        </li>   </a>

        <li class="nav-item navicon navicon1">
          <a href = "https://scholar.google.com/citations?user=l1yO0nsAAAAJ&hl=en&authuser=1" target = "_blank"><i alt = "google scholar" class="ai ai-google-scholar ai-2x mx-2"></i></a>    
        </li>
        <li class="nav-item navicon">
          <a href = "https://orcid.org/0000-0002-8992-1580" target = "_blank"><i alt = "orcid" class="ai ai-orcid ai-2x mx-2"></i></a>    
        </li>

        <li class="nav-item navicon">
          <a href = "https://www.linkedin.com/in/boldense/" target = "_blank"><i alt = "linkedin" class="fa-brands fa-linkedin-in fa-2x mx-2"></i></a>

        </li>
        <li class="nav-item navicon">
          <a href = "https://github.com/sebolden" target = "_blank"><i alt = "github" class="fa-brands fa-github fa-2x mx-2"></i></a>
        </li>

        
        <li class="nav-item navicon">
          <a href = "mailto: sarahbolden@icloud.com" target = "_blank"><i alt = "github" class="fa-regular fa-envelope fa-2x mx-2"></i></a>
        </li>
    


        <!-- <li class="nav-item">
          <a class="nav-link" href="/portfolio.html">Portfolio</a>
        </li>  -->
    </ul>
    </div>
  </div>
</nav>