---
layout: default
permalink: /portfolio
title: "Portfolio"
---

{% include navbar.html %}

<link
href="{{site.baseurl}}/assets/css/portfolio.css"
rel="stylesheet"
/>    

<div class = "container pt-5 mt-5 ">

  <div class = "lead">
<h1 class = "text-center mb-0 mb-0">Portfolio</h1>

</div>
</div>


{% include backtotop.html %}


<!-- Filters -->
<div class = "container  text-center" style = "margin-top: -40px;">
  <div id="myBtnContainer">

    {% assign portfolio_content = site.pages | where: 'portfolio', "y" %}
    {% assign cats = portfolio_content | map: 'content_type' | uniq %}
    
        <button class="btn active" onclick="filterSelection('all')"> Show all</button>
        {% for item in cats %}
          <button class="btn" onclick="filterSelection('{{ item }}')"> {{ item }}</button>
        {% endfor %}
  </div>
</div>

<!-- Portfolio Gallery Grid -->
<div class = "container pt-3 portfolioContent">
    {% for item in site.pages %} 
    {% if item.portfolio == "y" %} 
    <div class = "portfolioItem column {{item.content_type}}">
    <div class="row py-5 d-flex justify-content-center ">

    <div class="col-sm-12 col-md-4  py-xl-5">
      <a target = "_blank" href="{{item.view}}"> <img src="{{site.baseurl}}/assets/img/portfolio/cover_images/{{item.fpath}}" alt="{{item.image_alt}}" class = "card-img-top "></a>
    </div>

    <div class="col-sm-12 col-md-8  py-xl-5">
      <div class = "px-xl-5">
      
        <span class = "badge mb-3 py-2">{{item.content_type}}</span>
        <h5 class="itemtitle">{{item.title}}</h5>
        <p class="text-muted ">
          {{item.desc}}  
        </p>
        <p><span class="small grey-text"><b>Skills: </b>{{item.skills}}</span></p>

        <a class="dark-grey-text mb-5 pb-2" target = "_blank" href="{{item.view}}"><button class = " thisbtn">View</button></a>
      </div>

    </div></div>
  </div>



    {% endif %}
    {% endfor %}
</div>

<!-- 

<div class="column my-3 {{item.content_type}} col-sm-12 col-md-6 col-lg-4">
  <div class="content p-2 h-100">
    <div class = "card h-100">
      <div class = "card-title">
        
      </div>
     <a href = "{{site.baseurl}}{{item.permalink}}"> <img src="{{site.baseurl}}/assets/img/portfolio/cover_images/{{item.fpath}}" alt="{{item.image_alt}}" class = "card-img-top "></a>
      <div class = "card-body ">
        <a href = "{{site.baseurl}}{{item.permalink}}"> 
          <h4 class = "card-title">
          {{item.title}}
        </h4>
      </a>
          <p class = "card-text">
          {{item.desc}}
        </p>
      </div>
      <div class = "card-footer">
        <p>
          <b>{{item.skills}}</b>
        </p>
      </div>
    </div>
  </div>
</div> -->




<script>
filterSelection("all") // Execute the function and show all columns
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("column");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function(){
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}

</script>